

<title lang="en">Homepage</title>

<head>

  <div class="container1">
  
</div>

  <center>
    
<h1 style="font-family:'Lobster',cursive; color:white;">Voting Platform</h1>

  </center>
	
	  <style>

 head {
      font-family:'Lobster',cursive;

      font-size:48px;
     }

      .avatar2 {
  vertical-align: middle;
  width: 200px;
  height: 120px;
  border-radius: 50%;


}

.container {
  align-items: flex-start;
  display: flex;
  height: 22em;
}

.container1 {
  align-items: flex-start;
  display: flex;
  height: 10em;
}
</style>

</head>


<body class="splash">

<div class="container">
  
</div>

<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">





<center>
  
    <a href="/records/listen" class="btn btn-primary btn-md">Start voting</a>

</center>

</body>
